
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script src="https://cdn.polyfill.io/v1/polyfill.js?features=Element.prototype.closest"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Dojo/dojo-1.9.2/dojo/dojo.js" djConfig="parseOnLoad:true"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}Dojo/dojo-1.9.2/dijit/themes/tundra/tundra.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/clients.css">
  </head>

  <body>
    <script src="{{ STATIC_URL }}js/voting.js"></script>
    <div id = 'galery' align="center">
      <table>
        {% for item in persons %}
          <tr>
            <th><label class="voter">{{ item.last_name }} {{ item.first_name }}</label></th>
            <td width="300px" >
              <p align="center"><img src="{{ MEDIA_URL }}{{ item.photo }}" alt='{{ item.last_name }} {{ item.first_name }}' width='250' height='250'/></p>
            </td>
            <td>
                <div id="{{ item.id }}" class="voter" onclick="vote(this.id, event.target);">
                  <span class="down">—</span>
                  <span class="votes">{{ item.votes }}</span>
                  <span class="up">+</span>
                </div>
              </td>
          </tr>
        {% endfor %}
    </div>
  </body>
</html>
