@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/resources/dojo.css";
@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit/themes/claro/claro.css";
.voter {
  font-family: Consolas, "Lucida Console", monospace;
  font-size: 20px;
}

.up,
.down {
  cursor: pointer;
  color: blue;
  font-weight: bold;
}