
.xgrid .gridx {
	border: none;
}

.xgrid .gridxHeader, .xgrid .gridxFooter {
	background: none;
}

.xgrid .gridx .dijitButton .dijitButtonNode {
	min-width: 0px;
}

.xgrid .gridxGotoPage .gridxGotoPageInputBox .dijitTextBox {
	width: 70px;
}

/*Header*/
.xgrid .gridxHeaderRow {
	overflow: hidden;
	border: 1px solid #ccc;
	clear: both;

	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ededed 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); |+ IE6-9 +|*/
}

.xgrid .gridxHeaderRowInner {
	background: none;
	border-color: transparent;
	border-width: 0 2px 0 0;
}

/*.xgrid .gridxHeaderRowInner table {*/
/*	border-collapse: collapse;*/
/*}*/

/*.xgrid .gridxHeaderRowInner table tr:last-child {*/
/*	border: none;*/
/*}*/

.xgrid .gridxHeaderRow .gridxCell {
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #ccc;
	padding: 13px 7px;
	font-weight: bold;
	font-size: 12px;
	color: #444;
	vertical-align: top;
	text-shadow: 1px 1px 1px #fff;
	max-height: 50px !important;
/*	filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.dijit_a11y.xgrid .gridxHeaderRow .gridxCell {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}



.xgrid .gridxHeaderRow .gridxHeaderRowInner .gridxCell:hover {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbdbdb',GradientType=0 ); |+ IE6-9 +|*/
}

.xgrid .gridx .gridxHeader .gridxHeaderRow .gridxHeaderCellFocus {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid transparent;
	border-right: 1px solid #ccc;
	outline: none;

	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbdbdb',GradientType=0 ); |+ IE6-9 +|*/
}

.dijit_a11y.xgrid .gridxHeader .gridxHeaderRow .gridxHeaderCellFocus {
	border: 1px dashed darkblue;
}

/*RowHeader*/
.xgrid .gridxRowHeaderCell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid #d9d9d9;
}
.xgrid .gridxRowHeaderRow:first-child .gridxRowHeaderCell {
	border-top-color: transparent;
}
.xgrid .gridxRowHeaderHeader {
	border-right-color: #d9d9d9;
}

.xgrid .gridxRowHeaderHeader,
.xgrid .gridxRowHeaderRow {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ededed 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); |+ IE6-9 +|*/
}

.xgrid .gridxRowHeaderBody {
	border-left: 1px solid #d9d9d9;
	border-right-width: 0px;
}
.xgrid .gridxRowHeaderBody .gridxRowOver{
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #dbdbdb 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dbdbdb)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%) !important; /* IE10+ */
	background: linear-gradient(top,  #fafafa 0%,#dbdbdb 100%) !important; /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbdbdb',GradientType=0 ); |+ IE6-9 +|*/
}

/*Body*/
.xgrid .gridxRow {
	background: none;
}

.xgrid .gridxMain {
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

.xgrid .gridxVScroller {
	border-right: 1px solid #d9d9d9;
}

.xgrid .gridxMain .gridxBody {
/*	border-right: 1px solid #d9d9d9;*/
}

.xgrid .gridxRow .gridxRowTable {
	background-color: #ffffff;
	border-left: none;
}

.xgrid .gridxRow .gridxCell {
	padding: 5px 7px;
	/*padding: 10px 7px;*/
	border-width: 1px;
	border-color: #d9d9d9 #d9d9d9 transparent transparent;
	font-style: Arial;
	font-size: 12px;
	color: #333;
	background: none;
	vertical-align: middle;
	/*vertical-align: top;*/
}

.xgrid .gridx .gridxRow:first-child .gridxCell {
	border-top-color: transparent;
}

.dj_webkit .xgrid .gridx .gridxRow:first-child .gridxCellFocus,
.dj_ie7 .xgrid .gridx .gridxRow:first-child .gridxCellFocus {
	border-top-color: darkblue;
}

.dj_ie .xgrid .gridxRow .gridxCellFocus {
	border-bottom: 1px dashed darkblue;
}

.xgrid .gridxAlternatingRows .gridxRowOdd .gridxRowTable {
	background-color: #f7f7f7;
}

.xgrid .gridxBodyRowHoverEffect .gridxRowOver .gridxCell {
	border-top-color: #bbbbbb;
}

.xgrid .gridx .gridxBodyRowHoverEffect .gridxRowOver .gridxRowTable, .xgrid .gridxRow .gridxColumnSelected,  .xgrid .gridxRowSelected > .gridxRowTable .gridxCell{
	background: none;
	background-color: #cce8f2 !important;
}
.xgrid .gridx .gridxBodyRowHoverEffect .gridxRowOver .gridxCell {
	background: none;
}

.xgrid .gridxRow:last-child .gridxCell {
	border-bottom: 1px solid #d9d9d9;
}

.xgrid .gridxBodyRowHoverEffect .gridxRowOver + .gridxRow .gridxCell {
	border-top-color: #bbb;
}

.xgrid .gridxAlternatingRows .gridxBody .gridxRow .gridxCell {
	border-top-color: #ffffff;
}

.xgrid .gridx .gridxRow .gridxRowTable,
.xgrid .gridxBodyRowHoverEffect .gridxRowOver .gridxRowTable {
	transition-property: background-color;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
}

/* WholeRow -- No Column Borders */
.xgrid .gridxWholeRow .gridxBody .gridxRow .gridxCell {
	border-left-color: transparent;
	border-right-color: transparent;
}

/*HScroller*/
.xgrid .gridxHScroller{
	border-style: solid;
	border-color: #d9d9d9;
	border-width: 0 1px 1px 1px;
}

/* compact */
.xgrid .compact .gridxHeaderRow .gridxCell {
	padding: 10px 7px;
	font-size: 11px;
}

.xgrid .compact .gridxBody .gridxCell {
	padding: 7px;
	font-size: 11px;
}

/* Full Page */
.xgrid .gridxFullPage .gridxHeader .gridxHeaderRow {
	border-top-color: #dadada;
	border-bottom: 1px solid #ccc;
}

.xgrid .gridxFullPage .gridxHeader .gridxHeaderRow,
.xgrid .gridxFullPage .gridxMain,
.xgrid .gridxFullPage .gridxHeader .gridxHeaderRow .gridxCell,
.xgrid .gridxFullPage .gridxBody .gridxRow .gridxCell {
	border-left-color: transparent;
	border-right-color: transparent;
}

.gridxLockedCell {
	background-color: white !important;
}